.add_new_employee{
    border:1px  green solid;
    background-color:greenyellow;
    padding: 3px;
    margin: 1px;
    border-radius: 2px;
    position: relative;
    left: 4.9%;
}
.view_all_employee{
    border:1px  yellowgreen solid;
    background-color:yellow;
    padding: 3px;
    margin: 1px;
    border-radius: 2px;
    position: relative;
    left: 4.9%;
}
.hide_all_employee{
    border:1px  red solid;
    background-color:rgba(213, 78, 78, 0.519);
    padding: 3px;
    margin: 1px;
    border-radius: 2px;
    position: relative;
    left: 4.9%;
}

.view_btn{
    border:1px  green solid;
    background-color:greenyellow;
    border-radius: 2px;
}
.edit_btn{
    border:1px rgb(109, 84, 8) solid;
    background-color:rgba(255, 255, 0, 0.266);
    border-radius: 2px;
}

.delete_btn{
    border:1px red solid;
    background-color:rgba(222, 4, 4, 0.367);
    border-radius: 2px;
}

.submit_btn{
background-color: rgb(117, 220, 117);
position: relative;
right: 4%;
border: 1px green solid;
width: 12%;
}
.close_btn{
background-color: rgba(255, 0, 0, 0.47);
border: 1px rgb(250, 3, 3) solid;
width: 12%;
}
.submit_btn1{
    background-color: rgb(117, 220, 117);
    position: relative;
    right: 1%;
    border: 1px green solid;
    width: 15%;
    }
.close_btn1{
    background-color: rgba(255, 0, 0, 0.47);
    border: 1px rgb(250, 3, 3) solid;
    width: 15%;
    }